# Ignore the datasets directory
dataset/
test/

# Ignore any backup or temporary files
*.bak
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore checkpoints or intermediate files
*.ckpt
*.log